.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* sayred style */
.secondary-bg{
  background-color: #FFF8F3;
}
.text-primary{
  color: #FD6E0A;
}
.dark-1{
  color: #181818;
}
.dark-2{
  color: #474747;
}
.dark-3{
  color: #757575;
}
.btn-primary{
  color: white;
  font-size: 20px;
  padding: 18px 35px;
  border: none;
  background-color: #FD6E0A;
  border-radius: 5px;

}
.section-title{
  font-weight: bold;
  font-size: 35px;
  color: #181818;

}
.section-description{
  font-size: 18px;
  color: #757575;
}
.text-center{
  text-align: center;
}


/* header style */
.header{
  background-image: url('../images/developer.png'), url('../images/header_bg.png');
  background-repeat: no-repeat; 
  background-position: top left, bottom right ;
}
/* nav styles */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 200px;
}
nav ul li{
  list-style: none;
  margin-right: 50px;
}
nav ul{
  display: flex;
  align-items: center;
}
nav li a{
  text-decoration: none;
}
.nav-tittle{
  font-weight: 800;
  font-size: 45px;
}
/* Banner styles */
.banner{
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}
.banner-greadings{
  font-weight: 600;
  font-size: 45px;
}
.banner-tittle{
  font-size: 85px;
  font-weight: bold;
}
.banner-content{
  max-width: 585px;
  max-height: 356px;
}
.banner-pro-pic{
  max-width: 584px;
 max-height: 676px;
}

/* main styles */
main{
  max-width: 1140px;
  margin: 0 auto;

}
main section{
  margin-top: 130px;
  margin-bottom: 130px;
}


/* about styles */
.about{
  padding: 131px 157px;
  text-align: center;
  
}
.about-items{
  display: flex;
  justify-content: space-around;
  margin: 30px 22.5px 0 22.5px;
}
.about-title{
  color: #757575;
  font-size: 20px;

}
.about-description{
  font-size: 20px;
  font-weight: bold;
  color: #474747;
}


/* skills section styles */
.skills-container{
  display: flex;
  gap: 24px;
}
.skill{
  padding: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}


/* resume section style */
.resume-container{
  display: flex;
  gap: 20px;
  
}
.resume-calum-title{
  font-size: 30px;
  font-weight: 700;
}
.ex-title{
  font-size: 25px;
  font-weight: bold;
  color: rgba(71, 71, 71, 1);
}
.ex-sub-title{
  color: rgba(117, 117, 117, 1);
  font-size: 20px;
  font-weight: 600;
}
.ex-descreption{
  color: rgba(117, 117, 117, 1);
  font-size: 16px;
}
.resume-downlode-cv{
  margin-top: 50px;
}


/* footer section stayles */
footer{
  padding: 130px 230px;
  display: flex;
  gap: 100px;
}

.footer-colum{
  width: 50%;
}

footer input[type=text], footer input[type=email], footer textarea{
  height: 64px;
  border-radius: 5px;
  background-color: white;
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 24px;
  border: none;
}
